<h1>Reset your password for <%= ENV['APP_NAME'] %></h1>

<p>Dear <%= @user.full_name %>,</p>
<p>Click this <a href="<%= @reset_url %>">link</a> to reset your password</p>

<p>Kind regards</p>
<p><i>The <%= ENV['APP_NAME'] %> team</i></p>