<h1>Reset your password for <%= ENV['APP_NAME'] %></h1>

<p>Dear <%= @user.full_name %>,</p>
<p>We all forget our passwords sometimes and that is fine!</p>
<p>We can fix this.</p>
<p>Just click this <a href="<%= @reset_url %>">link</a> to reset your password!</p>

<p>Kind regards</p>
<p>The <%= ENV['APP_NAME'] %> team</p>